@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
:root
{
    --light-bg: #e5e8e8;
    --light-text: #4e545c;
    --dark-bg: #000401;
    --dark-text: #e5e8e8;
}



body
{
    background-color: var(--light-bg);
    color: var(--light-text);
    margin: 0;
    font-family: 'Quicksand', Arial;
}

body.dark-mode
{
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

main
{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer
{
    width: 100%;
    background-color: var(--light-text);
    padding: 16px;
    color: var(--dark-text);
    position: fixed;
    bottom: 0;
    text-align: center;
    font-weight: 400;
}

footer.dark-mode
{
    background-color: #8d9797;
    color: var(--dark-bg)
}

button
{
    border-radius: 40px;
    font-size: 1.5rem;    
    width: 200px;
    height: 60px;
    border: none;
    background-color: var(--light-text);
    color: var(--light-bg);
    transition: all 0.5s linear;
}

button:hover {
	background-color: var(--dark-bg);
}

button.dark-mode {
	background-color: var(--light-bg);
	color:var(--light-text);
}

button.dark-mode:hover {
	background-color: var(--light-text);
	color: var(--light-bg);
}